.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 1050; /* Asegúrate de que el sidebar esté sobre los demás componentes */
    background-color: #343a40;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.sidenav.collapsed {
    transform: translateX(-100%);
}

.container-sidebar {
    background-color: #343a40;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #80bdff;
}

.main-content {
    margin-left: 240px;
    height: 100vh;
    overflow: hidden;
    transition: margin-left 0.3s ease-in-out;
}

.main-content.collapsed {
    margin-left: 0;
}

.content-container {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.hamburger-menu {
    position: fixed;
    top: 70px; /* Ajusta según la altura del navbar */
    left: 0;
    z-index: 1100; /* Asegúrate de que el botón esté sobre el sidebar */
    background-color: #343a40;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    transition: transform 0.3s ease-in-out;
}

.hamburger-menu.expanded {
    transform: translateX(0);
}

.hamburger-menu.collapsed {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .hamburger-menu {
        left: 0;
    }
}